langgraph
langchain
langchain-openai
langchain_community
langchain_tavily
langchain_mcp_adapters
pydantic
rich
tavily-python
streamlit
langgraph-checkpoint-postgres
psycopg[binary,pool]
langgraph-cli[inmem]